version: '3.8'

services:
  linkpoket-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SPRING_PROFILE=${SPRING_PROFILE}
    container_name: linkpoket-server
    env_file:
      - ${ENV_FILE}
    ports:
      - ${SPRING_PORT}:${SPRING_PORT}
    restart: always
