version: '3.8'

services:
  linkrew-server:
    container_name: linkrew-server
    image: parkjihyeon/linkrew-server:latest # ← build 제거하고 image만 사용
    env_file:
      - ${ENV_FILE} # 예: .env.local
    ports:
      - ${SPRING_PORT}:${SPRING_PORT}
    restart: always
