name: Deploy Linkrew

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - run: |
          npm ci
          npm run build

      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: |
          mkdir -p ~/.ssh
          echo "
          Host bastion
            HostName undertopia.com
            Port 54222
            User guest

          Host linkrew-web-dev
            HostName 192.168.0.79
            User ubuntu
            ProxyJump bastion
          " > ~/.ssh/config
          chmod 600 ~/.ssh/config

      - run: |
          ssh-keyscan -p 54222 undertopia.com >> ~/.ssh/known_hosts || true
          ssh-keyscan 192.168.0.79 >> ~/.ssh/known_hosts || true

      - run: |
          ssh -F ~/.ssh/config -o StrictHostKeyChecking=no linkrew-web-dev "rm -rf ~/temp-dist && mkdir -p ~/temp-dist"

      - run: |
          scp -F ~/.ssh/config -r ./dist/* linkrew-web-dev:~/temp-dist/

      - run: |
          ssh -F ~/.ssh/config -o StrictHostKeyChecking=no linkrew-web-dev << 'EOF'
            APP_DIR="/home/ubuntu/linkrew"
            TEMP_DIR="/home/ubuntu/temp-dist"

            ls -la $TEMP_DIR/

            sudo /bin/rm -rf $APP_DIR/*

            sudo /bin/cp -r $TEMP_DIR/* $APP_DIR/

            sudo /bin/chown -R ubuntu:ubuntu $APP_DIR/
            sudo /bin/chmod -R 755 $APP_DIR/

            ls -la $APP_DIR/

            sudo /usr/bin/systemctl reload nginx
          EOF
